[Desktop Entry]
Name=eRadio-Lite
GenericName=Radio Player
Comment=Stream online radio stations
Categories=Audio;Music;Player;AudioVideo;GNOME;GTK;
Exec=eradio-lite %U
Icon=eradio-lite
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=eradio-lite
X-GNOME-Keywords=Eradio;Stream;Radio;Music;Audio
X-GNOME-UsesNotifications=true
X-AppInstall-Keywords=Eradio;Stream;Radio;Music;Audio
MimeType=x-scheme-handler/webradio;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=eradio-lite --about
Name=About eRadio
